<ion-header>
    <ion-toolbar>
        <ion-title>Detail <%= classify(name) %> Page</ion-title>
        <ion-buttons slot="end">
            <ion-button color="tertiary" (click)="on<%= classify(name) %>sPageBtnClick()">To List Page</ion-button>
            <ion-button color="tertiary" (click)="onEditBtnClick()" [disabled]="!isEditBtnEnabled()">Edit</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<div *ngIf="!!model">Created By: {{model.userName}}<br/></div>
<div *ngIf="!!model">{{model.name}}<br/></div>
<div *ngIf="!!model">{{model.description}}<br/></div>

<br/>

<div>
    <ion-button (click)="on<%= classify(name) %>sPageBtnClick()"><%= classify(name) %> Page</ion-button>
    <ion-button (click)="onEditBtnClick()">Edit</ion-button>
</div>
